.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 35vh;
}

.background {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-image: url('assets/background.jpg');
  background-size: contain;
  background-position: center;
  z-index: 0;
}

.accentLine {
  position: fixed;
  top: 80px;
  left: 80px;
  width: 0;
  height: 12vw;
  border: 1.5px solid white;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.25), 0 0 10px rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.canvasHolder {
  position: fixed;
  top: 0;
  z-index: 0;
}

.accentHolder {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  pointer-events: none;
}

.topLeft {
  position: absolute;
  top: 25px;
  left: 25px;
}

.bottomRight {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.accentText {
  margin: 0;
  font-family: 'Courier New', monospace;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.25), 0 0 10px rgba(255, 255, 255, 0.5);
}

.verticalText {
  writing-mode: vertical-rl;
}

.textBox {
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid red;
  box-shadow: 0 0 5px rgba(254, 33, 70, 0.25), 0 0 15px rgba(254, 33, 70, 0.5);
  padding: 1.5vw;
  width: fit-content;
  z-index: 2;
  margin-bottom: 10vh;
}

.textBox pre, .preText {
  font-family: 'Courier New', monospace;
  font-weight: bold;
    user-select: none;
  font-size: 1.5vw;
  color: white;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.25), 0 0 10px rgba(255, 255, 255, 0.5);
  height: fit-content;
}

.preText {
  margin: 0 10px;
}

.links {
  text-decoration: none;
  color: red;
  text-shadow: 0 0 5px rgba(254, 33, 70, 0.25), 0 0 15px rgba(254, 33, 70, 0.5);
  position: relative;
}

.links:hover {
  cursor: pointer;
  color: white;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.25), 0 0 10px rgba(255, 255, 255, 0.5);
  text-decoration: underline;
}

.links:hover::after {
  color: inherit;
  content: "<";
}

.projects {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: fit-content;
  margin-bottom: 10vh;
}

.projectIMG {
  margin: 0 0 10px 0;
  border: 1px solid red;
  box-shadow: 0 0 5px rgba(254, 33, 70, 0.25), 0 0 15px rgba(254, 33, 70, 0.5);
}

.projectItem {
  max-width: 15vw;
  display: flex;
  flex-direction: column;
}

.projectText {
  white-space: pre-wrap;
  text-align: left;
  padding: 0;
  margin: 0 0 10px 0;
}

.projectTextHolder {
  padding-left: 5px;
}

.projectText a {
  display: inline;
  padding: 0;
}

.navBar * {
  color: white;
  font-size: 2.25vw;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.25), 0 0 10px rgba(255, 255, 255, 0.5);
}

a {
  text-decoration: none;
}

.grad {
  color: rgb(120, 112, 126);
  text-shadow: 0 0 5px rgba(120, 112, 126, 0.25), 0 0 10px rgba(120, 112, 126, 0.5);
}

.rightSword {
  right: 50px;
}

@media (max-width: 480px) {
  .accentLine {
    display: none;
  }

  .navBar {
    display: none;
  }

  .textBox {
    padding: 8px;
    margin-bottom: 8vh !important;
  }

  .projects {
    width: 90vw;
    flex-direction: column;
  }

  .projects .textBox{
    margin: 25px 0 25px 0 !important;
  }

  .projectItem {
    display: flex;
    max-width: 75vw;
    max-height: 14vh;
    flex-direction: row;
    align-items: center;
  }

  .projectIMG {
    height: 100px;
    max-width: 100px;
    margin: 0;
  }

  .projectTextHolder {
    padding-top: 10px;
    padding-left: 10px;
  }

  .rightSword {
    right: 38px;
  }

  * {
    font-size: 10px !important;
  }
}